=begin
#CryptoGate API

#Accept Bitcoin, Litecoin, Dogecoin, Dash, Ethereum and ERC-20 tokens. Server-to-server, authenticated with a secret API key (`Authorization: Bearer sk_live_…`, or `sk_test_…` for sandbox). All monetary amounts in API responses are JSON numbers; **webhook** amounts are strings to preserve decimal precision (see the `webhooks` section).  **Rate limits.** Every request is rate-limited per API key in two windows — per minute and per hour — by plan tier (min/hour): starter 30/500, business 100/2000, professional 300/5000, enterprise 1000/20000. Every response carries `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` (Unix seconds) for the per-minute window. On `429` the body is `error: \"RATE_LIMIT_EXCEEDED\"` (either window) with a `Retry-After` header (seconds) — clients should retry after it. A separate `429` with `error: \"MONTHLY_LIMIT_REACHED\"` means the plan's monthly transaction quota (not the request rate). 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module CryptoGate
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Start a plan upgrade or account top-up
    # @param create_billing_checkout_request [CreateBillingCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TransactionEnvelope]
    def create_billing_checkout(create_billing_checkout_request, opts = {})
      data, _status_code, _headers = create_billing_checkout_with_http_info(create_billing_checkout_request, opts)
      data
    end

    # Start a plan upgrade or account top-up
    # @param create_billing_checkout_request [CreateBillingCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionEnvelope, Integer, Hash)>] TransactionEnvelope data, response status code and response headers
    def create_billing_checkout_with_http_info(create_billing_checkout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.create_billing_checkout ...'
      end
      # verify the required parameter 'create_billing_checkout_request' is set
      if @api_client.config.client_side_validation && create_billing_checkout_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_billing_checkout_request' when calling BillingApi.create_billing_checkout"
      end
      # resource path
      local_var_path = '/billing/checkout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_billing_checkout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['SecretKey']

      new_options = opts.merge(
        :operation => :"BillingApi.create_billing_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#create_billing_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
