=begin
#CryptoGate API

#Accept Bitcoin, Litecoin, Dogecoin, Dash, Ethereum and ERC-20 tokens. Server-to-server, authenticated with a secret API key (`Authorization: Bearer sk_live_…` for live, or `sk_test_…` for test mode — same base URL). All monetary amounts in API responses are JSON numbers; **webhook** amounts are strings to preserve decimal precision (see the `webhooks` section).  **Rate limits.** Every request is rate-limited per API key in two windows — per minute and per hour — by plan tier (min/hour): starter 30/500, business 100/2000, professional 300/5000, enterprise 1000/20000. Every response carries `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` (Unix seconds) for the per-minute window. On `429` the body is `error: \"RATE_LIMIT_EXCEEDED\"` (either window) with a `Retry-After` header (seconds) — clients should retry after it. A separate `429` with `error: \"MONTHLY_LIMIT_REACHED\"` means the plan's monthly transaction quota (not the request rate). 

The version of the OpenAPI document: 1.0.1

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module CryptoGate
  class MarketDataApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Current crypto and fiat exchange rates (USD-denominated)
    # @param [Hash] opts the optional parameters
    # @return [GetPrices200Response]
    def get_prices(opts = {})
      data, _status_code, _headers = get_prices_with_http_info(opts)
      data
    end

    # Current crypto and fiat exchange rates (USD-denominated)
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPrices200Response, Integer, Hash)>] GetPrices200Response data, response status code and response headers
    def get_prices_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketDataApi.get_prices ...'
      end
      # resource path
      local_var_path = '/prices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPrices200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['SecretKey']

      new_options = opts.merge(
        :operation => :"MarketDataApi.get_prices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketDataApi#get_prices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # All supported cryptocurrencies and tokens
    # @param [Hash] opts the optional parameters
    # @return [ListCryptocurrencies200Response]
    def list_cryptocurrencies(opts = {})
      data, _status_code, _headers = list_cryptocurrencies_with_http_info(opts)
      data
    end

    # All supported cryptocurrencies and tokens
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCryptocurrencies200Response, Integer, Hash)>] ListCryptocurrencies200Response data, response status code and response headers
    def list_cryptocurrencies_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketDataApi.list_cryptocurrencies ...'
      end
      # resource path
      local_var_path = '/cryptos/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCryptocurrencies200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['SecretKey']

      new_options = opts.merge(
        :operation => :"MarketDataApi.list_cryptocurrencies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketDataApi#list_cryptocurrencies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cryptocurrencies this merchant has wallets configured for
    # @param [Hash] opts the optional parameters
    # @return [ListCryptocurrencies200Response]
    def list_merchant_cryptocurrencies(opts = {})
      data, _status_code, _headers = list_merchant_cryptocurrencies_with_http_info(opts)
      data
    end

    # Cryptocurrencies this merchant has wallets configured for
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCryptocurrencies200Response, Integer, Hash)>] ListCryptocurrencies200Response data, response status code and response headers
    def list_merchant_cryptocurrencies_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketDataApi.list_merchant_cryptocurrencies ...'
      end
      # resource path
      local_var_path = '/merchant/cryptos'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCryptocurrencies200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['SecretKey']

      new_options = opts.merge(
        :operation => :"MarketDataApi.list_merchant_cryptocurrencies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketDataApi#list_merchant_cryptocurrencies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
